body {
  padding: 50px;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
	line-height: 1.5em;
	list-style-type: none;
}

div#chatbox {
	height: 300px;
	border: solid 1px #888;
	border-radius: 5px;
	overflow: auto;
	padding: 20px;
	background-clip: content-box;
}

div#container {
	width: 500px;
}

.draft {
	width: 435px;
	height: 2em;
	margin-top: 10px;
}
